<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>           <%# rajouter raw avant la variable pour ne pas afficher les balises%>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to "Index", "/restaurants" %>
