<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>           <%# rajouter raw avant la variable pour ne pas afficher les balises%>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @reviews.each do |review| %>
  <h2><%= review.content %></h2>
  <p><%= review.rating %></p>
<% end %>


<%= link_to "Index", restaurants_path %>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
